/*Formataçao dos textos*/
.titulo{
    color: rgba(117, 98, 224, 1);
    display: flex;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.subTitulo{
    display: flex;
    font-size: 40px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.texto{
    display: flex;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Formatação dos elementos*/

.body{
    background-color:  #05000af3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagem-svg{
    position: relative;
    align-self: center;
    width: 400px; 
    
}
.minhaFoto{
    display: flex;
    justify-content: center;
    
    flex-basis: 1;
}
.imagemLucas{
    align-self: center;
    width: 250px;
    position: absolute;
   

}
/*Aqui vai a minha foto*/


/*Estilo do botão sobre mim*/

.btnLinke{
    background-color: #05000a41;
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: 2px solid rgb(64,1,145);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btnUser{
    background-color:rgba(117, 98, 224, 1);
    padding: 15px;
    border: 2px solid black;
    margin: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Animaçao btn user e linkedin*/

/*Identação da classe dos buttons com flex*/

.btns{
    display: flex;
    flex-direction: row;
}




