/*Alinhamento cabeçalho e header*/

.cabecalho{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: #05000af3;
    flex-direction: row;
    height: 40px;
}

/*identação icons*/

.wppIcon,.linkIcon, .gitIcon{
    color:rgba(117, 98, 224, 1); 
    padding-right: 5px;   
}

