/*Formataçao dos textos*/
.titulo{
    display: flex;
    padding: 20px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.subTitulo{
    display: flex;
    font-size: 40px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.texto{
    display: flex;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Formatação dos elementos*/

.body{
    background-color:  rgba(0, 0, 54, 1);
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    /*
   justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    */
    
}

/*Aqui vai a minha foto*/


/*Estilo do botão sobre mim*/

.btnLinke{
    background-color: rgb(64,1,145);
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btnUser{
    background-color:rgba(117, 98, 224, 1);
    padding: 15px;
    border: 2px solid black;
    margin: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Animaçao btn user e linkedin*/

.btnLinke:hover{
    background-color: white;
    color:rgb(64,1,145) ;
    border: 1px solid rgb(64,1,145);
}
.btnUser:hover{
    background-color: white;
    color:rgb(64,1,145) ;
    border: 1px solid rgb(64,1,145);
}




